<form action="/home/form" method="post">
    <input type="text" name="ad" 
           placeholder="ad giriniz" required />
    <br />
    <input type="number" name="yas" 
           placeholder="Yaş giriniz giriniz" required />
    <br />
    <button type="submit">
        Gönder
    </button>
</form>

    <div> @ViewData["mesaj"]</div>


